<section class="subscribe-form">
    <h3 class="subscribe-form-title">Did you enjoy this?</h3>
    <p class="subscribe-form-description" style="margin-top: 10px">Consider signing up for an occasional update. Get latest posts from the LBS delivered right into your inbox max. 1-2 times per month. Santeri never spams.</p>
    <form action="https://lostbookofsales.us16.list-manage.com/subscribe/post?u=b685f871ace40d4f27925e159&amp;id=cc2b1068a4" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div class="form-group">
            <label for="mce-EMAIL"></label>
            <input class="subscribe-email required email" data-members-email name="EMAIL" placeholder="your.address@example.com" autocomplete="false" />
            <div style="position: absolute; left: -5000px;" aria-hidden="true">
                <input type="text" name="b_b685f871ace40d4f27925e159_cc2b1068a4" tabindex="-1" value="">
            </div>
            <button class="button primary" type="submit">
                <span class="button-content" name="subscribe">Subscribe</span>
                <span class="button-loader">{{> "icons/loader"}}</span>
            </button>
        </div>
        <p class="subscribe-form-description" style="margin-top: 20px">We are already a community of <span id="currentSubscriberCount" style="font-weight: bold"></span> subscribers!</p>
        <div class="message-success">
            <strong>Great!</strong> Check your inbox (or the spam folder) and click the link to confirm your subscription. 
        </div>
        <div class="message-error">
            Please enter a valid email address!
        </div>
    </form>
</section>